body {
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    gap: 10px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header-left-pad {
    flex: auto;
}

.header-right-pad {
    flex: auto;
}

.header-logo {
    flex: auto;
    font-weight: bold;
    padding: 5px;
    color: #f9faf8;
    font-size: 18px;
}

.header-link {
    padding: 5px;
    font-size: 12px;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    padding: 50px;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: #FFF;
}

.hero-left {
    display: flex;
    flex: auto;
    flex-direction: column;
    width: calc(50vw - 200px);
}

.hero-left h1 {
    font-size: 48px;
    margin: 0px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
}

.hero-right {
    display: flex;
    flex: auto;
    width: calc(50vw - 200px);
    background-color: #889;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    background-image: url('./img/clocks.jpg');
    background-size: cover;
    border-radius: 2px;
}

.signup-button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 5px 30px;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
}

.section-1 {
    display: flex;
    flex: auto;
    padding: 50px;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    justify-content: center;
}

.section-1 h2 {
    font-size: 36px;
    margin: 0px;
    color: #1F2937;
    text-align: center;
    font-weight: 900;
}

.section-1-image-row {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 50px;
}

.section-1-image-container {
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: center;
    font-size: 8pt;
}

.section-1-image {
    width: 100px;
    height: 100px;
    background-color: ;
    border-radius: 10px;
    border: 2px solid #3882f6
}

.section-1-image-description {
    margin-top: 5px;
    text-align: center
}

.section-2 {
    display: flex;
    flex: auto;
    padding: 50px;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.section-2-quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
}

.section-2-quote-author {
    font-size: 18px;
    text-align: center;
    color: #1F2937;
    font-weight: 300;
    text-align: right;
}

.section-3 {
    display: flex;
    flex: auto;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    justify-content: center;
}

.section-3-call-to-action {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.section-3-call-to-action-container {
    display: flex;
    flex: auto;
    border-radius: 5px;
    background-color: #3B82F6;
    padding: 30px 50px;
}

.section-3-call-to-action-left {
    display: flex;
    flex: auto;
    align-items: left;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
}

.section-3-call-to-action-heading {
    font-size: 18px;
    font-weight: 900;
    flex: auto;
    font-weight: bold;
}

.section-3-call-to-action-subtext {
    font-size: 14px;
    flex: auto;
}

.section-3-call-to-action-right {
    display: flex;
    flex: auto;
    align-items: right;
    justify-content: right;
    margin-right: 50px;
}

.section-3-call-to-action-button {
    background-color: #3B82F6;
    color: white;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-weight: bold;
}

.footer {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

.used-clocks {
    background-image: url('./img/used-clocks.jpg');
    background-size: cover;
}

.antique-clocks {
    background-image: url('./img/antique-clocks.jpg');
    background-size: cover;
}

.clock-parts {
    background-image: url('./img/clock-parts.jpg');
    background-size: cover;
}

.harry-repair {
    background-image: url('./img/harry-repair.jpg');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #000;
}